@import "fonts";
@import "defaults";
@import "mixins";
@import "forms";

// HEADER
.header {
  min-height: 15vh;
  background: #8000ff;

  &__nav {
    display: flex;
    height: 100%;
    position: relative;
    
    &__logo-container {
      padding: 1rem 0;
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;

      &__logo {
        border: 1px solid rgba(0, 0, 0, .2);
        width: 6rem;
        height: 6rem;
        background: #fcf194;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
        box-shadow: 1px 1px 3px rgb(56, 56, 56);
  
        &__img {
          position: absolute;
          top: -30%;
        }
        
        &__text {
          font-size: 1.8rem;
          font-family: 'Pacifico', cursive;
          color: rgba(255, 255, 255, 1);
          position: absolute;
          top: 50%;
          z-index: 1;
          text-shadow: 1px 1px 2px #000;
        }
      }
    }

    &__menu.open {
      display: flex;
      background: rgba(0, 0, 0, .8);
      position: absolute;
      width: 100%;
      top: 100%;
      z-index: 3;
      left: 50%;
      transform: translate(-50%);

      @include mq(768px) {
        background: transparent;
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0);
      }
    }

    &__menu {
      flex: 3;
      list-style: none;
      display: none;
      flex-direction: column;
      justify-content: space-around;

      @include mq(768px) {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        position: static;

        &__item {
          margin: 0 1rem;

          &__link {
            width: 100%;
            height: 100%;

            &__name {
              font-size: 4rem;
            }
          }
        }

      }

      &__item {
        display: none;
        justify-content: center;
        
        &__link {
          padding: 1rem;
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          color: rgba(255, 255, 255);
          text-shadow: 1px 1px 3px #000;
          font-size: 2rem;
          transition: opacity .3s ease-out;

          &:hover:not(#displayName) {
            opacity: .7;
          }

          &__name {
            display: inline-block;
            letter-spacing: .1rem;
            margin-left: .5rem;
            font-weight: bold;
            font-size: 3rem;
            color: #00a58e;;
          }
        }
      }
    }

    &__hamburger.open &__hamburger {
      &__line:first-of-type {
        transform-origin: 0% 0%;
        transform: rotate(38deg) translate(2px, -3px) scale(1.2);
      }

      &__line:nth-of-type(2) {
        opacity: 0;
      }

      &__line:last-of-type {
        transform-origin: 0% 100%;
        transform: rotate(-38deg) translate(2px, 3px) scale(1.2);
      }
    }

    &__hamburger {
      position: absolute;
      top: 50%;
      left: 90%;
      transform: translate(-50%, -70%);
      padding: .3rem;
      background: #000;
      border-radius: .2rem;
      height: 4rem;
      width: 5rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer;

      @include mq(768px) {
        display: none;
      }
      
      &__line {
        border-radius: .5rem;
        height: .4rem;
        display: block;
        background: #fff;
        transition: all .3s ease;
      }
    }
  }
}

// MAIN
.main.open .main {
  &__chat {
    display: flex;
  }
}

.main {
  margin: 0 auto;
  max-width: 120rem;
  position: relative;

  &__logout-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    font-size: 2rem;
    text-align: center;
  }

  &__chat {
    min-height: 85vh;
    display: none;
    flex-direction: column;
    justify-content: start;
    background: rgb(218, 218, 218);

    @include mq(768px) {
      min-height: 80vh;
    }
    
    // Chatrooms
    &__chatrooms {
      flex-basis: 5rem;
      padding: .5rem;
      width: 100%;
      max-width: 50rem;
      margin: auto;
      display: flex;
      justify-content: space-around;

      &__chatroom.select {
        background: #00daab;
      }

      &__chatroom {
        background: #00c3ff;
        display: block;
        padding: .5rem 1.5rem;
        border-radius: 1rem;
        border: none;
        color: #fff;
        text-shadow: 1px 1px 3px #000;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        font-size: 2rem;

        &__text {
          position: relative;
          z-index: 2;
          pointer-events: none;
        }

        &::before {
          content: "";
          display: block;
          position: absolute;
          width: 100%;
          height: 100%;
          background: rgba(255, 0, 0, .3);
          border-radius: 1rem;
          top: 0;
          left: 0;
          right: 0;
          transform: translate(-15rem);
          transition: transform .3s ease-out;
        }

        &:hover:not(.select)::before {
          transform: translate(0);
        }
      }
    }

    // Chat screen
    &__chat-screen {
      padding: .5rem;
      background: rgba(0, 0, 255, .5);
      border-radius: .5rem;
      flex: 1;
      width: 100%;
      max-width: 60rem;
      margin: auto;
      display: flex;
      flex-direction: column;

      &__list {
        flex: 5 1 90%;
        background: #fff;
      }

      &__form {
        flex-basis: 5rem;
        display: flex;

        &__input {
          border: none;
          border-top: solid 1px;
          padding: .5rem;
          flex: 1;
          outline: none;
          font-size: 2rem;
          text-align: center;
        }

        &__button {
          flex-basis: 5rem;
          border: none;
          background: #8000ff;
          cursor: pointer;
          color: #fff;
        }
      }
    }
  }
}

// FOOTER
.footer {
  min-height: 5vh;
  background: #000;
  display: none;
  justify-content: center;
  align-items: center;

  @include mq(768px) {
    display: flex;
  }

  &__copyright {
    font-size: 1.5rem;
    color: #fff;
    font-style: italic;
  }
}